body {margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
}

header {text-align: center;
        text-transform: uppercase;
        padding: 133px 0 90px 0;
}

header h2 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #898f99;
    }

header h1 {font-size: 48px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
color: #0ec8cb;
}

header p {font-size: 18px;
color: #999999;
font-family: 'PT Sans', sans-serif;
font-weight: 400;
}

.mainer {width: 940px;
    height: 420px;
margin: 0 auto;
display: flex;
}

.mainer p {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #777777;
}

.anchor {margin: 0 auto;
    top: 0;
    left: 0;
    height: 66px;
    width: 66px;
    background-image: url(img/anchor.png);
    background-position: 0 0;
    }

.diamond {margin: 0 auto;
    top: 0;
    left: 0;
    height: 66px;
    width: 65px;
    background-image: url(img/diamond.png);
    background-position: 0 0;
}

.glasses {
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 66px;
    width: 66px;
    background-image: url(img/glasses.png);
    background-position: 0 0;
}

.monitor {
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 66px;
    width: 64px;
    background-image: url(img/monitor.png);
    background-position: 0 0;
}

.cell {
    letter-spacing: 0em;
background-color: #f7f7f7;
height: 420px;
width: 230px;
box-sizing: border-box;
text-align: center;
padding: 55px 30px 0 30px;}

.cell:hover {background-color: #0ec8cb;}
.cell:hover h3 {color: white;}
.cell:hover p {color: white;}
.cell:hover .icon {background-position: 0 -66px;}
.mainer h3 {font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #1b1b1b;
}